<ion-view title="About" id="page8">
  <ion-nav-buttons side="left" class="has-header">
    <button class="button icon ion-android-arrow-back"></button>
  </ion-nav-buttons>
  <ion-content padding="true" style="background: url(img/ANoO7KHLRpqzUQC5pkuT_dell-wallpapers-14.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div>
      <img src="img/FSr47JyjQNyahhWQAOMA_Dell-Headquarters-Round-Rock.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="about-markdown4" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>Listen. Learn. Deliver. That’s what we’re about.</strong>
      </p>

      <p style="color:#000000;">Dell empowers countries, communities, customers and people everywhere to use technology to realize their dreams. Customers trust us to deliver technology solutions that help them do and achieve more, whether they’re at home, work, school or anywhere
        in their world. Learn more about our story, purpose and people behind our customer-centric approach.</p>
    </div>
  </ion-content>
</ion-view>