<ion-view title="Account Setting" id="page4">
  <ion-nav-buttons side="left" class="has-header">
    <button class="button icon ion-android-arrow-back"></button>
  </ion-nav-buttons>
  <ion-content padding="true" style="background: url(img/OoiMzLZJRlu7gJ3XdP7r_dell-wallpapers-14.jpg) no-repeat center;background-size:cover;" class="has-header">
    <ion-list id="accountSetting-list2">
      <ion-item class="item-icon-left side-menu-item" id="accountSetting-list-item5">
        <i class="icon ion-android-person"></i>Detail</ion-item>
      <ion-item class="item-icon-left side-menu-item" id="accountSetting-list-item6">
        <i class="icon ion-android-clipboard"></i>Order Tracking</ion-item>
      <ion-item class="item-icon-left side-menu-item" id="accountSetting-list-item7">
        <i class="icon ion-android-refresh"></i>Return or exchange an item</ion-item>
      <ion-item class="item-icon-left side-menu-item" id="accountSetting-list-item8" ui-sref="menu.technicalSupport()">
        <i class="icon ion-android-call"></i>Technical Support</ion-item>
    </ion-list>
    <hr align="left" width="100%">
    <ion-list id="accountSetting-list6">
      <ion-item id="accountSetting-list-item17" ui-sref="menu.privacyPolicy()" class="side-menu-item">Privacy Policy</ion-item>
      <ion-item id="accountSetting-list-item18" ui-sref="menu.about()" class="side-menu-item">About</ion-item>
      <ion-item class="item-icon-left side-menu-item" id="accountSetting-list-item19" ui-sref="menu.home()">
        <i class="icon ion-power"></i>Log Out</ion-item>
    </ion-list>
  </ion-content>
</ion-view>