<ion-view title="Home" id="page5">
  <ion-content padding="true" style="background: url(img/IY8X9KugQ0ynExsNmdPr_dell-wallpapers-14.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div>
      <img src="img/bVv9T7sdQkadNMHM9SrK_DellPricingPoster_01.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/dsQVBGUFSN2G4Y3Dl0yb_images.jpeg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 69px;"></div>
    <div id="home-button-bar1" class="button-bar">
      <a ui-sref="menu.list()" id="home-button4" style="font-size:12px;" class="button button-dark button-block">Laptop</a>
      <a ui-sref="menu.list()" id="home-button8" style="font-size:12px;" class="button button-dark button-block">Desktop</a>
      <a ui-sref="menu.list()" id="home-button10" style="font-size:12px;" class="button button-dark button-block">Accesories</a>
    </div>
  </ion-content>
</ion-view>