<ion-view title="List" id="page6">
  <ion-nav-buttons side="left" class="has-header">
    <button class="button icon ion-android-arrow-back"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right" class="has-header">
    <button class="button icon ion-android-cart"></button>
  </ion-nav-buttons>
  <ion-content padding="true" style="background: url(img/H5YaUAMlQZy4PKMoFAX6_dell-wallpapers-14.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div id="list-button-bar2" class="button-bar">
      <button id="list-button11" style="font-size:12px;" class="button button-dark button-block">Total Item</button>
      <button id="list-button12" style="font-size:12px;" class="button button-dark button-block">SORT</button>
      <button id="list-button13" style="font-size:12px;" class="button button-dark button-block">Filter</button>
    </div>
    <ion-list id="list-list8">
      <ion-item class="item-thumbnail-left item-icon-right energized side-menu-item" id="list-list-item14" ui-sref="menu.detail()">
        <img src="img/U21mFIlUTcGgcPJCXAAt_dell-alienware-15-m15-8716126g-1060-156-fhd-gaming-laptop-red-i7-8750h-16gb-1tb256gb-gtx1060-6gb-w10.jpg">
        <h2energized>Dell Alienware 15
          <p>RM7,859</p>
          <i class="icon ion-android-add"></i>
          <ion-option-button class="button-dark">Buy</ion-option-button>
        </h2energized>
      </ion-item>
      <ion-item class="item-thumbnail-left item-icon-right energized side-menu-item" id="list-list-item9" ui-sref="menu.detail()">
        <img src="img/U21mFIlUTcGgcPJCXAAt_dell-alienware-15-m15-8716126g-1060-156-fhd-gaming-laptop-red-i7-8750h-16gb-1tb256gb-gtx1060-6gb-w10.jpg">
        <h2energized>Dell Alienware 15
          <p>RM7,859</p>
          <i class="icon ion-android-add"></i>
          <ion-option-button class="button-dark">Buy</ion-option-button>
        </h2energized>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>