<ion-view title="Login" id="page11">
  <ion-nav-buttons side="left" class="has-header">
    <button class="button icon ion-android-arrow-back"></button>
  </ion-nav-buttons>
  <ion-content padding="true" style="background: url(img/xiNeYOoTjmS7bA2QZNDy_dell-wallpapers-14.jpg) no-repeat center;background-size:cover;" class="has-header">
    <form id="login-form1" class="list">
      <div>
        <img src="img/3q492H43RCiM5BdfqRsN_image1.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <ion-list id="login-list9">
        <label class="item item-input" id="login-input1">
          <span class="input-label">Email</span>
          <input type="email" placeholder="">
        </label>
        <label class="item item-input" id="login-input2">
          <span class="input-label">Password</span>
          <input type="password" placeholder="">
        </label>
      </ion-list>
      <div class="spacer" style="height: 40px;"></div>
      <button id="login-button9" class="button button-calm button-block">Log in</button>
      <a ui-sref="signup()" id="login-button14" class="button button-calm button-block button-clear">Or create an account</a>
    </form>
  </ion-content>
</ion-view>