<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-dark">
      <ion-nav-back-button></ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="side-menu21"></ion-nav-view>
  </ion-side-menu-content>
  <ion-side-menu side="left" id="side-menu21">
    <ion-header-bar class="bar-dark">
      <div class="title">Menu</div>
    </ion-header-bar>
    <ion-content padding="false" style="background: url(img/D1Vjt0uSLCIF1LNBYI2r_dell-wallpapers-14.jpg) no-repeat center;background-size:cover;" class="side-menu-left has-header ">
      <ion-list id="menu-list1">
        <ion-item class="item-avatar positive side-menu-item" id="menu-list-item4" ui-sref="menu.accountSetting()" menu-close="">
          <img src="img/Q7A31YL3QNKGxQhKqgrH_7fa16eafa1af88598d080dc556542448.jpg">
          <h2positive>Username
            <p>Account Setting</p>
          </h2positive>
        </ion-item>
        <ion-item class="item-icon-left item-icon-right positive side-menu-item" id="menu-list-item1" ui-sref="menu.home()" menu-close="">
          <i class="icon No Icon"></i>Home
          <i class="icon ion-android-home"></i>
        </ion-item>
        <ion-item class="item-icon-right positive side-menu-item" id="menu-list-item2" ui-sref="menu.list()" menu-close="">New Arrivals
          <i class="icon ion-android-favorite"></i>
        </ion-item>
        <ion-item class="item-icon-right positive side-menu-item" id="menu-list-item3" ui-sref="menu.list()" menu-close="">Best Seller
          <i class="icon ion-ios-heart-outline"></i>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>