<ion-view title="Privacy policy" id="page9">
  <ion-nav-buttons side="left" class="has-header">
    <button class="button icon ion-android-arrow-back"></button>
  </ion-nav-buttons>
  <ion-content padding="true" style="background: url(img/Gw9le84WSRCkvSd2AsSs_dell-wallpapers-14.jpg) no-repeat center;background-size:cover;" class="has-header">
    <h4 id="privacyPolicy-heading2" style="color:#000000;">Privacy Statement Regarding Customer and Online User Information</h4>
    <div id="privacyPolicy-markdown5" class="show-list-numbers-and-dots">
      <p style="color:#000000;">This Privacy Statement Regarding Customer and Online User Information (“Privacy Statement”) applies to Dell Inc. and its worldwide subsidiaries (“Dell,” "we" or "our"), but not to those Dell subsidiaries that have published their own privacy and
        security statements. This Privacy Statement also does not apply to the websites of our business partners or to any other third parties, even if their websites are linked to our website. We recommend you review the privacy statements of the other
        parties with which you interact.</p>

      <p style="color:#000000;">This Privacy Statement governs Personal Information we collect from our customers and online users ("you"), as well as information we automatically collect from your online visits (e.g. data collected via cookies). Please refer to your warranty
        statements and Dell's Return Policy for policies that apply to information contained on hard drives returned to Dell.</p>

      <p style="color:#000000;">For the purposes of this Privacy Statement, "Business partner" means any subcontractor, vendor or other entity with whom we have an ongoing business relationship to provide products, services or information. "Personal Information" means information
        that identifies you, such as your name, telephone number and email address.</p>
    </div>
  </ion-content>
</ion-view>