<ion-view title="Technical Support" id="page10">
  <ion-nav-buttons side="left" class="has-header">
    <button class="button icon ion-android-arrow-back"></button>
  </ion-nav-buttons>
  <ion-content padding="true" style="background: url(img/pR7FuvMvSqcz7othvzIR_dell-wallpapers-14.jpg) no-repeat center;background-size:cover;" class="has-header">
    <h4 id="technicalSupport-heading3" style="color:#000000;">Technical Support Dell</h4>
    <div>
      <img src="img/VDU1Ut4uQ9u0Pu9A5zv3_Desktop-support-1.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="technicalSupport-markdown6" class="show-list-numbers-and-dots">
      <p style="color:#080808;">A. Dell offers technical support via phone and chat. You can reach technical support at 1-800-879-3355. You may also chat with Dell Technical Support.. Q. I need to speak with Customer Care regarding a system I've already purchased/own.</p>
    </div>
  </ion-content>
</ion-view>